.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input{

  height:2rem;
  width: 20rem;
  border: 2px solid rgb(6, 100, 158);
  outline: none;
  border-radius:10px;
  margin-top:20px;  
  padding:0 10px;
 
}

.pagination{

  display: flex;
  align-items: center;  
  justify-content: center;
  gap:30px;
  margin-top: 20px;
}

.pagination button{


  background-color:rgb(6, 100, 158) ;
  border: none;
  color:white;
  padding: 8px 10px;
  cursor: pointer;
}

.cardContainer{

  display: flex;
  max-width: 1180px;
  gap:50px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card{

  width:15rem;
  border:3px solid rgb(6, 100, 158);
  display: flex;
  justify-content:center;
  border-radius:5px;
  display: flex;
  flex-direction:column;
  position: relative;
  cursor: pointer;

}

.card h4{

position: absolute;
top: 20px;
left: 50%;
transform:translateX(-50%);
z-index: -1;
transition: all 0.3s ease-in;
font-size:20px;
font-weight:800;
color: rgb(6, 100, 158);
z-index: 10;
opacity: 0;
color: #FFD700;

}

.poster{

  display: flex;
  flex-direction: column;
}

small{


  position:absolute;
  font-size:10px;
  top: 10%;
  padding:30px;
  text-overflow:ellipsis;
  opacity: 1;
  z-index:10;
}

.poster img{

  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  border-radius: 3px;
  opacity: 1;

 
 
}

.card:hover::before{

  content: "";
  position: absolute;
  height:100%;
  width: 100%;
  background-color:rgba(67, 65, 65, 0.844);
  z-index: 1;
  opacity: 0.8;
 
}

.card:hover> .poster img{
  
  transform: scale(0.8);
  opacity: 1;
 
}

/* .poster:hover{

  content:"adadda";
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 11;
  background-color:rgba(34, 34, 34, 0.681);

} */

.card:hover> .poster h4{
  
    top: 100px;
    transition: all 0.3s ease-in;
    z-index: 10;
    opacity: 1;
    color: rgb(242, 226, 2);
}

.card:hover> .poster h5{


  z-index: 10;
  color: white;
  opacity: 1;
  bottom: 100px;
 

}

.poster h5{

  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition:all 0.3s ease-in-out;
  z-index: -1;
  color: rgb(6, 100, 158);
  opacity: 0;
}





